@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Serif');
/*Header*/
#header{
    text-align: center;
    width: 100%;
    background-color: #150811;
}
div#head-container{
    display: inline-block;
    padding: 3rem;ß
}
/*tablero original*/
#tab{
padding-left: 5rem;    
}
.cls-1 {
    fill: #f2f2f2;
}

.cls-2 {
    fill: #b3b3b3;
}

.cls-3,
.cls-6 {
    fill: red;
}

.cls-4,
.cls-5 {
    fill: #fff;
}

.cls-4,
.cls-7 {
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 0.25px;
}

.cls-6 {
    font-size: 160.53px;
    font-family: MyriadPro-Regular, Myriad Pro;
}

.cls-7 {
    font-size: 85px;
    font-family: Seravek, Seravek;
    fill:white;
}

.cls-8 {
    letter-spacing: -0.02em;
    fill: white;
}

.cls-9 {
    letter-spacing: 0em;
}

.cls-10 {
    fill: #ffe100;
    animation-name: testigo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes testigo{
    0% {opacity: 1.0;}
    50% {opacity: 0;}
    100% {opacity: 1.0;}
}

/*Tablero cambios*/
svg{
    flex-direction: row-reverse;
    height: 15rem;
}
#rescer{
    height: 15rem;
}
#residencial{
    height: 8rem;
}
/*logo*/
#logo{
    height: 10rem;
    position: relative;
}
/*body*/
.container{
    text-align: center;
    border-top: solid 1px skyblue;
}
.one{
    background-color: dodgerblue;
}
.two{
    padding-top: 3rem;
    background-color: white;
}
h1{
    font-family: "Noto Serif", "serif";
    letter-spacing: 2px;
    color: white;
    text-align: center;
    margin-top: 0;
    padding-top: 2rem;
}
.slide-block{
    text-align: center;
}
#serv{
    display: inline-block;
}
li#text1, li#img1{
    width: 40%;
    display: inline-block;
    list-style: none;
}
li#text1{
    text-align: left;
    vertical-align: top;
    color: white;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
}
li#text2, li#img2{
    width: 40%;
    display: inline-block;
    list-style: none;
}
li#text2{
    text-align: left;
    vertical-align:top;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    
}
#vwJetta{
    width: 100%
}
h3{
    margin: 0;
    letter-spacing: 2px;
}
#slide{
    text-align: center;
}
ul#opts-container{
  display: inline-block;
padding-left: 0;
}
.switch{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    list-style: none;
    margin-left: .5rem;
}
#op1, #op2, #op3, #op4{
    background-color: black;
    opacity: .2;
}
.switch:hover{
    transform: scale(1.5,1.5);
}