/*tablero original*/
.cls-1 {
    fill: #f2f2f2;
}

.cls-2 {
    fill: #b3b3b3;
}

.cls-3,
.cls-6 {
    fill: red;
}

.cls-4,
.cls-5 {
    fill: #fff;
}

.cls-4,
.cls-7 {
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 0.25px;
}

.cls-6 {
    font-size: 160.53px;
    font-family: MyriadPro-Regular, Myriad Pro;
}

.cls-7 {
    font-size: 85px;
    font-family: Seravek, Seravek;
}

.cls-8 {
    letter-spacing: -0.02em;
}

.cls-9 {
    letter-spacing: 0em;
}

.cls-10 {
    fill: #ffe100;
    animation-name: testigo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes testigo{
    0% {opacity: 1.0;}
    50% {opacity: 0;}
    100% {opacity: 1.0;}
}
/*---------------------------------------------*/

/*Tablero cambios*/

