@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Serif');
/*Header*/
html{
    overflow-x: hidden;
    background-image: url("../img/bground.png");
    background-repeat: no-repeat;
    background-position: right top;
}
body{
    margin: 0;
}
#header{
    background-color: rgba(0, 0,0, .7);
    text-align: center;
    width: 100%;
    height: 30rem;
}
div#head-container{
    display: inline-block;
    padding: 3rem;
    margin-top: 8rem;
}
/*tablero original*/
#tab{
    height: 15rem;
}
/*Tablero cambios*/
#nav-menu{
    align-content: center;
}
ul#nav-list{
    background-color: white;
    padding: 1rem 0;
    margin: 0;
}
#bienvenido, #contacto, #preguntas{
    list-style: none;
    display: inline-block;
    padding: 0 1rem;
}
#bienvenido, #contacto{
    border-right: solid .5px dodgerblue;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Noto Serif", "serif";
}
#rescer{
    height: 15rem;
}
/*logo*/
#logo{
    height: 10rem;
    position: relative;
}
/*body*/
.container{
    text-align: center;
}

.one{
    background-color: dodgerblue;
}
h1, h2#otros{
    font-family: "Noto Serif", "serif";
    letter-spacing: 2px;
    text-align: center;
    margin-top: 0;
    padding-top: 2rem;
}
h1{
color: white;
}
.translate{
    width: 100%;
    display: inline-block;
    padding-left: 0;

}
.translate2{
    position: absolute;
    top:38.6rem;
    transform: translateX(100%);
    width: 100%;
    padding-left: 0;
}
#serv2{
    display: inline-block;
}
li#text1, li#img1{
    display: inline-block;
    list-style: none;
    padding-right: 4rem;
}
li#img1{
    width:40%;
    text-align: right;
}
li#text1{
    width:40%;
    text-align: left;
    vertical-align: top;
    color: white;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
}
li#text2, li#img2{
    display: inline-block;
    list-style: none;
}
li#img2{
    width: 60%;
    text-align: left;
}
li#text2{
    width: 30%;
    text-align: left;
    vertical-align:top;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    color: white;
}
li#text1>p, li#text2>p{
    line-height: 2rem;
}
li#text1>h3, li#text2>h3{
    color: #ffe100;
}
li#img2,{
    text-align: left;
}
#vwJetta{
    width: 100%
}
h3{
    margin: 0;
    letter-spacing: 2px;
}
#slide{
    text-align: center;
}
ul#opts-container{
  display: inline-block;
padding-left: 0;
}
.switch{
    background-color: black;
    opacity: .2;
}
#op1, #op2, #op3, #op4{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    list-style: none;
    margin-left: .5rem;
}
.switch:hover{
    transform: scale(1.5,1.5);
}

.clicked{
    transform: scale(1.5,1.5);
    background-color: white;
    opacity: .2;
}
#serv{
    transition: transform ease-out 2s;
    transform: translateX(-100%);
}
#backtoNormal{
   transition: transform ease-out 2s;
    transform: translateX(100%); 
}
#normalPos{
    transition: transform ease-out 2s;
    transform: translateX(0%);
}
/*Valores*/
section#valores{
    text-align: center;
}
ul.sec3{
    height: 40rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 0;
    margin: auto 0;
}
li.values{
    width: 30%;
    padding: 0 1.5rem;
    list-style: none;
    float: left;
    display:inline-block;
    margin: auto 0;
}
img.valImg{
    width: 20rem;
}
#sec4{
    background-color: dodgerblue;
    text-align: center;
}
#other{
    height: 50rem;
}

#otros, li.pOtro{
   color: white;
    
}
#otros{
    padding: 2rem;
}
p.vText, li.pOtro {
   font-family: "Lato", sans-serif;
}
li.pOtro{
    width: 15%;
    list-style: none;
    text-align: center;
    float: left;
    margin: 1rem 3rem;
    }
.addServ{
    width: 50%;
    float: left;
    list-style: none;
}
#align{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.imgServ{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: 3rem;
}
#lockedOut{
    text-align: left;
}
/*Footer*/
#footer{
    background-color: #150811;
    margin: 0;
    height:3rem;
    text-align: center;
    vertical-align: middle;
}
#footer>p{
    color: white;
    padding-top: 1rem;
    font-family: "Lato", sans-serif;
    font-size: .7rem;
    margin: 0;
}